<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <script nonce="**CSP_NONCE**">
      <%= loadInlineScript('record-event.js') %>
    </script>

    <!-- Icons -->
    <link href="/img/design/icons/apple-touch-icon.png" rel="apple-touch-icon-precomposed" />
    <link href="/img/design/icons/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
    <link href="/img/design/icons/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
    <link href="/img/design/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
    <link rel="shortcut icon" href="/img/design/icons/favicon.ico" />

    <meta name="msapplication-TileImage" content="/img/design/icons/apple-touch-icon-114x114">
    <meta name="msapplication-TileColor" content="#144073">

    <!-- Preload main fonts -->
    <link rel="preload" href="/generated/sourcesanspro-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/generated/sourcesanspro-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/generated/bitter-bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/generated/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>

    <!-- Scripts and CSS -->
    <%= modifyScriptAndStyleTags(htmlWebpackPlugin.tags.headTags) %>

    <script nonce="**CSP_NONCE**" type="text/javascript">
      function focusContent(e) {
        e.preventDefault();
        e.target.hidden = true;
        const contentElement = document.querySelector('#content h1') || document.querySelector('#content');
        contentElement.setAttribute('tabindex', '-1');
        contentElement.addEventListener('blur', function(event) {
          event.target.removeAttribute('tabindex');
        }, true);
        window.scrollTo(0, contentElement.offsetTop);
        contentElement.focus();
      }
      window.VetsGov = window.VetsGov || {};
      window.VetsGov.headerFooter = <%= JSON.stringify(headerFooterData) %>;
    </script>
  </head>

  <body class="merger">
    <a class="show-on-focus" href="#content" onclick="focusContent(event)">Skip to Content</a>

    <!-- Header -->
    <header class="header" role="banner">
      <!-- Mobile Layout -->
      <div
        data-widget-type="header"
        data-show="<%= typeof noHeader !== 'undefined' ? !noHeader : true %>"
        data-show-nav-login="<%= typeof noNavOrLogin !== 'undefined' ? !noNavOrLogin : true %>"
        data-show-mega-menu="<%= typeof noMegamenu !== 'undefined' ? !noMegamenu : true %>"
        id="header-v2"
      ></div>

      <!-- Tablet/Desktop Layout -->
      <div id="legacy-header" class="vads-u-display--none">
        <!-- USA website banner -->
        <div class="va-notice--banner">
          <div class="va-notice--banner-inner">
            <div class="usa-banner">
              <div class="usa-accordion">
                <div class="usa-banner-header">
                  <div class="usa-grid usa-banner-inner">
                    <img src="/img/tiny-usa-flag.png" alt="U.S. flag">
                    <p>An official website of the United States government</p>
                    <button id="usa-banner-toggle" class="usa-accordion-button usa-banner-button" aria-expanded="false" aria-controls="gov-banner">
                      <span class="usa-banner-button-text">Here’s how you know</span>
                    </button>
                  </div>
                </div>
                <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner" aria-hidden="true">
                  <div class="usa-banner-guidance-gov usa-width-one-half">
                    <img class="usa-banner-icon usa-media_block-img" src="/img/icon-dot-gov.svg" alt="Dot gov">
                    <div class="usa-media_block-body">
                      <p>
                        <strong>The .gov means it’s official.</strong>
                        <br>
                        Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you're on a federal government site.
                      </p>
                    </div>
                  </div>
                  <div class="usa-banner-guidance-ssl usa-width-one-half">
                    <img class="usa-banner-icon usa-media_block-img" src="/img/icon-https.svg" alt="SSL">
                    <div class="usa-media_block-body">
                      <p>
                        <strong>The site is secure.</strong>
                        <br> The <strong>https://</strong> ensures that you're connecting to the official website and that any information you provide is encrypted and sent securely.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="va-crisis-line-container">
            <button onclick="recordEvent({ event: 'nav-crisis-header' })" data-show="#modal-crisisline" class="va-crisis-line va-overlay-trigger">
              <div class="va-crisis-line-inner">
                <span class="va-crisis-line-icon" aria-hidden="true"></span>
                <span class="va-crisis-line-text" onClick="recordEvent({ event: 'nav-jumplink-click' });">Talk to the <strong>Veterans Crisis Line</strong> now</span>
                <img class="va-crisis-line-arrow" src="/img/arrow-right-white.svg" aria-hidden="true"/>
              </div>
            </button>
          </div>
        </div>
        <!-- End USA website banner -->

        <div class="row va-flex usa-grid usa-grid-full" id="va-header-logo-menu">
          <div class="va-header-logo-wrapper">
            <a href="/" class="va-header-logo">
              <img src="/img/header-logo.png" alt="VA logo and Seal, U.S. Department of Veterans Affairs"/>
            </a>
          </div>
          <div id="va-nav-controls"></div>
          <div class="medium-screen:vads-u-display--none usa-grid usa-grid-full">
            <div class="menu-rule usa-one-whole"></div>
            <div class="mega-menu" id="mega-menu-mobile"></div>
          </div>
          <div id="login-root" class="vet-toolbar"></div>
        </div>
        <div class="usa-grid usa-grid-full">
          <div class="menu-rule usa-one-whole"></div>
          <div id="mega-menu"></div>
        </div>

      </div>
    </header>

    <!-- TODO: Add breadcrumbs -->
    <% if (includeBreadcrumbs) { %>
    <nav aria-label="Breadcrumb" aria-live="polite" class="va-nav-breadcrumbs" id="va-breadcrumbs">
      <ul id="va-breadcrumbs-list" class="row va-nav-breadcrumbs-list columns" tabindex="-1">
      <% breadcrumbs_override.forEach(({ name, path }, index) => { %>
        <li>
          <a
            <% if (index === breadcrumbs_override.length - 1) { %>
            aria-current="page"
            <% } %>
            href="/<%= path %>">
            <%= name %>
          </a>
        </li>
      <% }) %>
      </ul>
    </nav>
    <% } %>

    <!-- root -->
    <div id="content">
      <main id="main" class="main">
          <div class="vads-u-margin-y--5" data-testid="landing-page-container">
            <div class="vads-l-grid-container large-screen:vads-u-padding-x--0">
              <div class="vads-l-row vads-u-justify-content--space-between vads-u-margin-bottom--4">
                <div class="vads-l-col medium-screen:vads-l-col--6">
                  <h1>My HealtheVet</h1>
                  <div class="va-introtext vads-u-margin-right--5">
                    <p>Welcome to My HealtheVet on VA.gov—where you can manage your VA health care and your health.</p>
                    <p><a href="https://www.va.gov/resources/my-healthevet-on-vagov-what-to-know">Learn more about My HealtheVet on VA.gov</a></p>
                  </div>
                </div>
                <div class="vads-u-display--none medium-screen:vads-u-display--block vads-l-col--6"><img src="https://www.va.gov/img/mhv-logo.png" class="mhv-logo vads-u-margin-left--9 vads-u-margin-top--3" alt="My HealtheVet Logo"></div>
              </div>
              <div class="vads-l-row vads-u-justify-content--space-between vads-u-margin-bottom--0 medium-screen:vads-u-margin-bottom--2">
                <div class="vads-l-col--12 medium-screen:vads-l-col mhv-u-grid-gap vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
                  <div class="vads-u-height--full vads-u-padding-x--5 vads-u-padding-top--4 vads-u-padding-bottom--2 vads-u-background-color--gray-lightest">
                    <div class="vads-u-display--flex vads-u-align-items--start">
                      <div class="vads-u-flex--auto vads-u-margin-right--1p5 small-screen:vads-u-margin-top--0p5">
                        <div aria-hidden="true" class="fas fa-calendar vads-u-font-size--h2"></div>
                      </div>
                      <div class="vads-u-flex--fill">
                        <h2 class="vads-u-margin--0" id="mhv-c-card-appointments">Appointments</h2>
                      </div>
                    </div>
                    <ul class="mhv-u-list-style--none vads-u-padding-left--0 vads-u-margin-top--2 vads-u-margin-bottom--0">
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://www.va.gov/health-care/schedule-view-va-appointments/">Schedule and manage appointments<i aria-hidden="true"></i></a></li>
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://www.va.gov/health-care/schedule-view-va-appointments/appointments">Upcoming VA appointments<i aria-hidden="true"></i></a></li>
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://www.va.gov/find-locations">Find VA locations<i aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="vads-l-col--12 medium-screen:vads-l-col mhv-u-grid-gap vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
                  <div class="vads-u-height--full vads-u-padding-x--5 vads-u-padding-top--4 vads-u-padding-bottom--2 vads-u-background-color--gray-lightest">
                    <div class="vads-u-display--flex vads-u-align-items--start">
                      <div class="vads-u-flex--auto vads-u-margin-right--1p5 small-screen:vads-u-margin-top--0p5">
                        <div aria-hidden="true" class="fas fa-comments vads-u-font-size--h2"></div>
                      </div>
                      <div class="vads-u-flex--fill">
                        <h2 class="vads-u-margin--0" id="mhv-c-card-messages">Messages</h2>
                      </div>
                    </div>
                    <ul class="mhv-u-list-style--none vads-u-padding-left--0 vads-u-margin-top--2 vads-u-margin-bottom--0">
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://myhealth.va.gov/mhv-portal-web/compose-message">Compose message<i aria-hidden="true"></i></a></li>
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://myhealth.va.gov/mhv-portal-web/secure-messaging">Inbox<i aria-hidden="true"></i></a></li>
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://myhealth.va.gov/mhv-portal-web/manage-folders">Manage folders<i aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="vads-l-row vads-u-justify-content--space-between vads-u-margin-bottom--0 medium-screen:vads-u-margin-bottom--2">
                <div class="vads-l-col--12 medium-screen:vads-l-col mhv-u-grid-gap vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
                  <div class="vads-u-height--full vads-u-padding-x--5 vads-u-padding-top--4 vads-u-padding-bottom--2 vads-u-background-color--gray-lightest">
                    <div class="vads-u-display--flex vads-u-align-items--start">
                      <div class="vads-u-flex--auto vads-u-margin-right--1p5 small-screen:vads-u-margin-top--0p5">
                        <div aria-hidden="true" class="fas fa-prescription-bottle vads-u-font-size--h2"></div>
                      </div>
                      <div class="vads-u-flex--fill">
                        <h2 class="vads-u-margin--0" id="mhv-c-card-medications">Medications</h2>
                      </div>
                    </div>
                    <ul class="mhv-u-list-style--none vads-u-padding-left--0 vads-u-margin-top--2 vads-u-margin-bottom--0">
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://myhealth.va.gov/mhv-portal-web/prescription_refill">Refill VA prescriptions<i aria-hidden="true"></i></a></li>
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://myhealth.va.gov/mhv-portal-web/prescription-tracking">Track prescription delivery<i aria-hidden="true"></i></a></li>
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://myhealth.va.gov/mhv-portal-web/my-complete-medications-list">Medications and allergies<i aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="vads-l-col--12 medium-screen:vads-l-col mhv-u-grid-gap vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
                  <div class="vads-u-height--full vads-u-padding-x--5 vads-u-padding-top--4 vads-u-padding-bottom--2 vads-u-background-color--gray-lightest">
                    <div class="vads-u-display--flex vads-u-align-items--start">
                      <div class="vads-u-flex--auto vads-u-margin-right--1p5 small-screen:vads-u-margin-top--0p5">
                        <div aria-hidden="true" class="fas fa-file-medical vads-u-font-size--h2"></div>
                      </div>
                      <div class="vads-u-flex--fill">
                        <h2 class="vads-u-margin--0" id="mhv-c-card-health-records">Health records</h2>
                      </div>
                    </div>
                    <ul class="mhv-u-list-style--none vads-u-padding-left--0 vads-u-margin-top--2 vads-u-margin-bottom--0">
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://myhealth.va.gov/mhv-portal-web/download-my-data">Download medical record (Blue Button)<i aria-hidden="true"></i></a></li>
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://myhealth.va.gov/mhv-portal-web/labs-tests">Lab and test results<i aria-hidden="true"></i></a></li>
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://myhealth.va.gov/mhv-portal-web/health-history">Health history<i aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="vads-l-row vads-u-justify-content--space-between vads-u-margin-bottom--0 medium-screen:vads-u-margin-bottom--2">
                <div class="vads-l-col--12 medium-screen:vads-l-col mhv-u-grid-gap vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
                  <div class="vads-u-height--full vads-u-padding-x--5 vads-u-padding-top--4 vads-u-padding-bottom--2 vads-u-background-color--gray-lightest">
                    <div class="vads-u-display--flex vads-u-align-items--start">
                      <div class="vads-u-flex--auto vads-u-margin-right--1p5 small-screen:vads-u-margin-top--0p5">
                        <div aria-hidden="true" class="fas fa-dollar-sign vads-u-font-size--h2"></div>
                      </div>
                      <div class="vads-u-flex--fill">
                        <h2 class="vads-u-margin--0" id="mhv-c-card-payments">Payments</h2>
                      </div>
                    </div>
                    <ul class="mhv-u-list-style--none vads-u-padding-left--0 vads-u-margin-top--2 vads-u-margin-bottom--0">
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://dvagov-btsss.dynamics365portals.us/signin">File a claim for travel reimbursement<i aria-hidden="true"></i></a></li>
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://pay.gov/public/form/start/25987221">Pay copay bills<i aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="vads-l-col--12 medium-screen:vads-l-col mhv-u-grid-gap vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
                  <div class="vads-u-height--full vads-u-padding-x--5 vads-u-padding-top--4 vads-u-padding-bottom--2 vads-u-background-color--gray-lightest">
                    <div class="vads-u-display--flex vads-u-align-items--start">
                      <div class="vads-u-flex--auto vads-u-margin-right--1p5 small-screen:vads-u-margin-top--0p5">
                        <div aria-hidden="true" class="fas fa-deaf vads-u-font-size--h2"></div>
                      </div>
                      <div class="vads-u-flex--fill">
                        <h2 class="vads-u-margin--0" id="mhv-c-card-medical-supplies-and-equipment">Medical supplies and equipment</h2>
                      </div>
                    </div>
                    <ul class="mhv-u-list-style--none vads-u-padding-left--0 vads-u-margin-top--2 vads-u-margin-bottom--0">
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://www.va.gov/health-care/order-hearing-aid-batteries-and-accessories">Order hearing aid batteries and accessories<i aria-hidden="true"></i></a></li>
                      <li class="mhv-c-navlistitem"><a class="mhv-c-navlink" href="https://www.va.gov/health-care/order-prosthetic-socks/">Order prosthetic socks<i aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="vads-l-grid-container large-screen:vads-u-padding-x--0">
              <div class="vads-l-row vads-u-margin-bottom--3">
                <div class="vads-l-col--12 medium-screen:vads-l-col mhv-u-grid-gap">
                  <h2>My VA health benefits</h2>
                  <nav>
                    <ul class="mhv-c-link-list">
                      <li><a class="mhv-c-link" href="https://www.va.gov/manage-va-debt/summary/copay-balances/">Current veteran copay rates</a></li>
                      <li><a class="mhv-c-link" href="https://www.va.gov/health-care/health-needs-conditions/mental-health">Mental health services</a></li>
                      <li><a class="mhv-c-link" href="https://www.va.gov/health-care/about-va-health-benefits/dental-care/">Dental care</a></li>
                      <li><a class="mhv-c-link" href="https://www.va.gov/COMMUNITYCARE/programs/veterans/index.asp">Community Care</a></li>
                      <li><a class="mhv-c-link" href="https://www.va.gov/health-care/update-health-information/">Update health benefits info (10-10EZR)</a></li>
                      <li><a class="mhv-c-link" href="https://myhealth.va.gov/mhv-portal-web/health-information-card">Veteran health information card</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="vads-l-col--12 medium-screen:vads-l-col mhv-u-grid-gap">
                  <h2>More resources and support</h2>
                  <nav>
                    <ul class="mhv-c-link-list">
                      <li><a class="mhv-c-link" href="https://www.va.gov/resources/the-pact-act-and-your-va-benefits/">The PACT Act and your benefits</a></li>
                      <li><a class="mhv-c-link" href="https://myhealth.va.gov/mhv-portal-web/check-your-mental-health">Check your mental health</a></li>
                      <li><a class="mhv-c-link" href="https://www.veteranshealthlibrary.va.gov/">Veterans Health Library</a></li>
                      <li><a class="mhv-c-link" href="https://www.myhealth.va.gov/healthy-living-centers">Healthy Living Centers</a></li>
                      <li><a class="mhv-c-link" href="https://www.myhealth.va.gov/mhv-community">The My HealtheVet community</a></li>
                      <li><a class="mhv-c-link" href="https://www.va.gov/wholehealth/">VA's Whole Health living</a></li>
                      <li><a class="mhv-c-link" href="https://myhealth.va.gov/mhv-portal-web/ss20200320-va-video-connect">How to use VA Video Connect</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="vads-l-col--12 medium-screen:vads-l-col mhv-u-grid-gap">
                  <h2>In the Spotlight</h2>
                  <nav>
                    <ul class="mhv-c-link-list">
                      <li><a class="mhv-c-link" href="https://myhealth.va.gov/mhv-portal-web/ss20220106-track-cholesterol-in-myhealthevet">Track Your Cholesterol in My HealtheVet</a></li>
                      <li><a class="mhv-c-link" href="https://myhealth.va.gov/mhv-portal-web/ss20221110-get-the-new-toxic-exposure-screening">Get the New Toxic Exposure Screening</a></li>
                      <li><a class="mhv-c-link" href="https://myhealth.va.gov/mhv-portal-web/ss20161101-five-exercises-for-people-over-50">Five Exercises for People Over 50</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </main>
    </div>

    <!-- Footer -->
    <div id="announcement-root"></div>
    <footer class="footer" role="contentinfo">
      <div id="footerNav"
        data-minimal-footer="<%= typeof minimalFooter !== 'undefined' ? minimalFooter : false %>"
      ></div>
    </footer>

    <!--
      “To care for him who shall have borne the battle and for his widow, and his orphan.”
      - Abraham Lincoln
    -->

  </body>
</html>
